<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'add_author'%}" method="post">
        {% csrf_token%}
        <table>
            <tr>
                <td>first name</td>
                <td><input type="text" name="first_name"></td>
            </tr>
            <tr>
                <td>last name</td>
                <td><input type="text" name="last_name"></td>
            </tr>
            <tr>
                <td>notes</td>
                <td><textarea name="notes"  cols="30" rows="10"></textarea></td>
            </tr>
        </table>
        <input type="submit" value="add author">
    </form> 
    <table>
        <th>ID</th>
        <th>name</th>
        <th>Action</th>
        {% for author in authors%}
        <tr>
            <td>{{author.id}}</td>
            <td>{{author.first_name}} {{author.last_name}}</td>
            <td><a href="#">View</a></td>
        </tr>
        {% endfor%}
    </table>
</body>
</html>