<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{book.title}}</h1>
    <p>{{book.id}}</p><br/>
    <p>{{book.desc}}</p><br/>
    <h2>Authors</h2>
    <ul>
        {% for author in book.authors.all %}
          <li>{{ author.first_name }}</li>
        {% endfor %}
      </ul>
      
    <form action="{% url 'connection' id=book.id%}" method="post">
        {% csrf_token%}
        <select name="authors_to_add" >
            {% for i in  authors%}
            <option value="{{ i.id }}">{{ i.first_name }}</option>

                {% endfor%}
            </select>
            <input type="submit" value="add">
    </form>

</body>
</html>